*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

.upper-site{
    background-color: #262626;
}

/*nav*/
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.nav-logo h2{
    text-align: center;
    height: 150px;
    padding-top: 50px;
    color: #dfebf6;
}

.welcome{
    text-align: center;
    margin-top: 20vh;
    font-size: 24px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20vh;
    color: #dce6e2;
}

.welcome p{
    font-size: 18px;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }

  /* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:35vh;
    }
  }


.about, .academics{
  text-align: center;
  padding-top: 20vh;
  font-size: 24px;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 10vh;
  color: #dfebf6;
}

.about p{
  font-size: 18px;
}
.academics p{
  font-size: 18px;
}
.academics a{
  text-decoration: none;
  color: #dfebf6;
}

/*Bottone*/
.bottone{
    opacity: 1;
    margin: 10px;
    outline: 0;
    color: #ffffff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    
    &:hover{
      
      &:after{
        opacity: 1;
        transform: translateY(0) rotateX(0);
      }
      
      &:before{
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
      }
    }
    
    &:after{
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      color: #034028;
      display: block;
      transition-duration: 0.5s;;
      position: absolute;
      background: #7dedc0;
      content: attr(data-back);
      transform: translateY(-50%) rotateX(90deg);
    }
    
    &:before{
      top: 0;
      left: 0;
      opacity: 1;
      color: #ffffff;
      display: block;
      padding: 0 30px;
      line-height: 40px;
      transition-duration: 0.5s;
      position: relative;
      background: #034028;
      content: attr(data-front);
      transform: translateY(0) rotateX(0);
    }
}

.bottom-site{
  background-color: #0D0D0D;
}
